#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  color: #fff;
  transition: all 0.3s;
}

.sidebar-nav .nav-link.collapsed {
  background: #fff;
}
.sidebar-nav .nav-link.collapsed .active {
  background: yellow;
}
/* .sidebar-nav .nav-link.collapsed i {
  color: var(--secondary-color);
} */

.sidebar-nav .nav-link:hover {
  color: #4154f1;
  background: var(--primary-color);
}


.sidebar-nav .nav-link:hover i {
    color: var(--secondary-color);
  }