#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  color: #fff;
  transition: all 0.3s;
}

.sidebar-nav .nav-link.collapsed {
  background: #fff;
}
.sidebar-nav .nav-link.collapsed .active {
  background: yellow;
}
/* .sidebar-nav .nav-link.collapsed i {
  color: var(--secondary-color);
} */

.sidebar-nav .nav-link:hover {
  background-color: rgba(4, 92, 156, 0.85);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bold;
}

.sidebar-nav .nav-link:hover i {
  color: #1916a3;
}

.sidebar-nav .nav-link i {
  color: var(--secondary-color);
}



.sidebar-nav .nav-link i {
  font-size: 18px;
  margin-right: 5px;
}

.sidebar-nav span {
  color: #1916a3;
}
.sidebar-nav .nav-item .nav-link:hover span {
  color: white;
}

.sidebar-nav .nav-item .nav-link span {
  color: rgba(4, 92, 156, 0.85);
}
